.membership-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.membership-heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.membership-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.info-label {
  font-size: 24px;
  font-weight: bold;
  margin-right: 8px;
  color: #666;
}

.info-value {
  font-size: 24px;
  font-weight: 500;
  color: #333;
}



.usage-allday{
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}

.usage-history {
  list-style: none;
  padding: 0;
  margin: 0;
}

.usage-history li {
  font-size: 25px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.usage-history li:hover {
  background-color: #f1f1ee;
}

.usage-history li.active {
  background-color: #469bdb;
}

