/* MyPage.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.exercise-goal{
  background-color: rgb(86, 88, 119);
  width:80%;
  padding:3rem;
  margin:4px;
  margin-bottom: 2rem;
  border-radius: 15px;
}

.exercise-goal h2{
  margin-bottom: 10px;
}

.exercise-goal select{
  width: 150px;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

.usage-heading {
  font-size: 40px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 12px;
  
}

.pt-history {
  margin-bottom: 20px;
  /* padding: 10px; */
  background-color: #3f3f3f;
  border-radius: 8px;
  width: 50%;
  max-width: 800px;
  background-color: rgb(86, 88, 119);
}



.pt-history h2 {
padding: 20px;
  margin:0;
}

.reservation-item {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reservation-item.current {
  background-color: #000508;
}

.reservation-item.past {
  color: #888;
}