/* myPage.css */

.container {
  text-align: center;
}

.header {
  font-size: 24px;
  height: 20%;
  background-color: skyblue;
  height: 20vh;
  display: flex;
  justify-content: center; /* 왼쪽 정렬 */
  align-items: center;
}

/* 기존 스타일 유지 */

.ticket {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ticket h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.ticket p {
  font-size: 16px;
}
