.App {
  text-align: center;
  margin-top: 0;
}

.App-header {
  background-color: #282c34;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: KBO-Dia-Gothic_bold;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}